---
import AppLayout from '../layouts/AppLayout.astro';
import AppSidebar from '../components/shared/AppSidebar.vue';
import ReceiptList from '../components/receipts/ReceiptList.vue';
---
<AppLayout title="Receipts">
  <div class="flex min-h-screen">
    <AppSidebar client:only="vue" />
    <main class="flex-1 p-6 overflow-auto">
      <ReceiptList client:only="vue" />
    </main>
  </div>
</AppLayout>
